%% erl_opts
{erl_opts, [
  nowarn_deprecated_function,
  nowarn_deprecated_type,
  {parse_transform, lager_transform}
]}.

%% deps
{deps, [
  {jiffy, "0.15.1"},
  {cowlib, "2.2.1"},
  {ranch, "1.4.0"},
  {ibrowse, "4.4.0"},
  %% ibrowse or hackney for http client.
  %% https://github.com/ransomr/httpcbench
  %% {hackney, "1.13.0"},
  {poolboy, "1.5.1"},
  {emysql, "0.4.4", {pkg, inaka_emysql}},
  {lager, "3.2.1"},
  {cberl, {git, "https://github.com/chitika/cberl.git", {tag, "v1.0.4"}}},
  {uuid, "1.7.3", {pkg, uuid_erl}},
  {observer_cli, "1.3.1"},
  {cowboy, "2.3.0"},
  {gun, "1.0.0-pre.5"}
]}.

%% overrides
{overrides, [
  {override, cberl, [
    {plugins, [pc]},
    {provider_hooks, [
      {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]}
    ]}
  ]}
]}.

%% relx
{relx, [
  {release, { gateway, "0.1.0" },

    [
      %% third party lib
      gateway, sasl, cberl, emysql, jiffy, lager, poolboy, observer_cli,
      ibrowse, uuid, runtime_tools, observer, cowboy, gun,
      %% hackney,

      %% proper lib
      gateway_eenv, gateway_net, gateway_comm, gateway_http, gateway_http_server

    ]
  },

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
